<style>
body {
  background-color: #0A2647;
}
hr {
  border-block: dotted;
  border-bottom-style: none;
  border-left-style: none;
  border-top-style: dotted;
  border-color: grey;

  height: 0px;
  border-width: 5px;
  width: 5%;
}
</style>